
<html>
<body>
 .,'`+:;#@ 
<pre style="font: 8px/4px ;">````````````````````..............................```````````````````````````````````````````````````````````````````````````````````````````````....`..`.`.............................................
````````````````````..............................``````````````````````````````````````````````````````````````````````````````````````````.````....`....`.............................................
```````````````````...............................```````````````````````````````````````````````````````````````````````````````````````````````..`.`..`...............................................
``````````````````..............,.................``````````````````````````````````````````````````````````````````````````````````````````````.`...`..................................................
``````````````````..............,,,,,.............```````````````````````````````````````````````````````````````````````````````````````````````..`.`..`.`.............................................
````````````````,`.............,:,,,,,,,.........``````````````````````````````````````````````````````````````````````````````````````````````.`....`..................................................
````````````````..............,,;,,,,,,,.........``````````````````````````````````````````````````````````````````````````````````````````````....`....`......`........................................
````````````````.,.......;...,,,',,,,,,,,.....:..``````````````````````````````````````````````````````````````````````````````````````````````.......`...`.............................................
``````````````...,.......,..,,,,',:,,,,,,,.......```````````````````````````````````````````````````````````````````````````````.````.````.``......`.`..`...............................................
```````````````.,.........,.,,,,+,:,,,,,,,.......`````````````````````````````````````````````````````````````````````````````````````````..``........`...`.............................................
```````````````.,.;.......',,,,,+,,,,,,,,,,..:...`````````````````````````````````````````````````````````````````````````````````````````..``.....`.``.................................................
````````````````.;,....,..',,,,,++,,,,,,,,,..:...```````````````````````````````````````````````````````````````````````````````````````````.`..``...```..`.............................................
```````````````...;:...,..::,,,,+:,,,,,,,,,,:....``````````````````````````````````````````````````````````````````````````````````````````..``..`...`..................................................
````````````````.,;'....',,+,,,,+,,,,,,,,,,,:....``````````````````````````````````````````````````````````````````````````````````````````..`.``....`..................................................
```````````````..:.;:...,,,+,,,,+,,,,,,,,,,::....`````````````````````````````````````````````````````````````````````````````````.````....`.``.`..`....`...............................................
```````````````..;.''...,+:+',,;+,,,,,,,,,,'.....`````````````````````````````````````````````````````````````````````````````````.```.``...``..````..``................................................
```````````````..:.,+,..,#;;+,,'+:,,,,,,,,;:.....`````````````````````````````````````````````````````````````````````````````````...`.`.`....`......`..................................................
```````````````..,,.'+..,';,+,:'+::,,,,,,;;,.....````````````````````````````````````````````````````````````````````````````..``..``.`....`....`.......................................................
`````````.````....:.'+,.,:+'+'+;+::,,,,,:',,.....```````````````````````````````````````````````````````````````````````````````.......`.............`..................................................
``````````,.``,...;..++.,;+'##';#;::,,:,+',,......``````````````````````````````````````````````````````````````````````````````.``...``....``...``..`..................................................
```````````.:.....;..++.,+'+'#';#;::,,;++,,,......```````````````````````````````````````````````````````````````````````````..`.`..`.`..`.`.``.`..`....................................................
````````````.;:,..;:.'#;,':++'';#;:;,,;+:,,,......```````````````````````````````````````````````````````````````````````````.........`....`....`.......................................................
`````````````.;':.:;.:++,:;++;#'#'::,:'#,,,,......```````````````````````````````````````````````````````````````````````````..`.`..`......`..`.........................................................
``````````````.''';'.;#+:+;#'+#'#'::,#+:,,,,......```````````````````````````````````````````````````````````````````````````.`..``.`...`...`...........................................................
```````````````,+';#.':##@;#++''++:;++#,,,,,......`````````````````````````````````````````````````````````````````````````.`....`...`........`.........................................................
```````````````.+.;;;''''@''#++'++;;#+:,,,,,.......````````````````````````````````````````````````````````````````````````.`....`....`....`............................................................
`````````````.`.+';+#''++++'#+#'+#++#',,,,,:.......``````````````````````````````````````````````````````````````````````````..`......`..`.`............................................................
```````````,;''.;#';+++@+##'###'+#+'#;,,,,,,.......```````````````````````````````````````````````````````````````````````.```.....`...`...`.`..........................................................
`````````````:'+'+';'+++##+'##'+###+:+,,,,,,.......````````````````````````````````````````````````````````````````````````..`...`.........`............................................................
`````````````:.';';##;+##'#+#;'###;;++,,,,,,........``````````````````````````````````````````````````````````````````.```..`....`....`....`............................................................
```.```````.::,:;'+##'+''+'+#;###''+++,,,,',........```````````````````````````````````````````````````````````````````````.`..`.`..`...................................................................
````,.```````;;..''+#;;######;#:''@+++,,,,;,........```````````````````````````````````````````````````````````````````````.``...`......................................................................
`````.;;,````.;'.''+##;####++';+++##++,,,''..........`````````````````````````````````````````````````````````````````````..`.......`...................................................................
```````,'+++;..';+###+';###+';;#'###+++,':,..........```````````````````````````````````````````````````````````````````````............................................................................
`````````,'++++;+++#@@#'+###++##+###++#',+,..........``````````````````````````````````````````````````````````````````````.............................................................................
```````````.,++#;'+#@@#'+###++##+###+#@,++:;;;'''';::;;;:``````````````````````````````````````````````````````````````````.......`........`............................................................
````````''+++#+:;;'++###+###++##+###+####++++++++'':..```````````````````````````````````````````````````````````````````.`....`.`......................................................................
``````,.``.,+++####+'+##++##############+##++''',....`````````````````````````````````````````````````````````````````````..`...........................................................................
````````````,.:+##@#####################+''';;:......`````````````````````````````````````````````````````````````.``````.`......`......................................................................
`````,```````,`.+######################++'';,.........``````````````````````````````````````````````````````````````````....`....``.....................................................................
``````,:.`````,##;+#@##################+:,;...........``````````````````````````````````````````````````````````````````.`.....`.`......................................................................
````````:';''++:#'@@@@#####'###'+#####@#''...........```````````````````````````````````````````````````````````````````.`..............................................................................
`````````.'+++##+;#########+###';+###''':............``````````````````````````````````````````````````````````````.`..`.......`........................................................................
``````````'';'+##;#########'##+##;++++++..............``````````````````````````````````````````````````````````...``..```..............................................................................
`````````''..;++#'#####+#+#'#+'+'#+++'+';+:...........``````````````````````````````````````````````````````````.......`................................................................................
```````.;```.'+'#+#+###++##+#'''+######'..,;,.........```````````````````````````````````..`....``.``.`..........................................`......................................................
``````.``````':#+++###'++#'+##''#+######+.............`.:;;;';'''''''''''''''+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++''''''':,.....................................................
````````````````'+'##'''##;+##';;##+##++##;..........`,''''''''f++++++++@@@#@@@#@@@#@@@@#@@@@@@@@@@####@@@@@###@@##@@#++++@@@#+++++++++++++''''''';.....................................................
````````````````''####'##++;++#';'#++##.+++'.........`,''''''''+++++++++@@@@@@@##@@#@@@@#@@@@@@@@@@@@@@@@@@@#@@@@#@@##++++@@@#+++++++++++++''''''''.....................................................
````````````````'##+#;'##++;'+#;#';##++...;'+.......``.'''+++++############################################################################++++''':.....................................................
````````````````##+##;#++'+;'++;###++++',...;+.....````''''++++############################################################################++++''',.....................................................
``````````````.+#+###+@+#'##+''##'#++#;'';...,',...````+'''++++############################################################################++++'''......................................................
`````````````+++++##:'+'#'###+#####++#..;';....,;.`````;'''++++############################################################################++++'''......................................................
```````````,+'+++####+#;#'#########'+;....;;.....;.````,'''++++###################################l########################################++++'''......................................................
``````````;+;''.'#+#++#;#;#######+#'+.......;..````````.'''++++############################################################################+++''':......................................................
`````````:`.';:+#'+#++'+##+##+#+'++'+.........,`````````''''+++############################################################################+++'''.......................................................
```````.```;;+#++;##'#####;##;#'::+;'..`````````````````''''+++#+##########################################################################+++'''.......................................................
``````````;;'++'`#+++@+##+a@+#'####+;''``````````````````:'''+++###########################################################################+++'''.......................................................
`````````:;++;',++##'+'#'@@'++####+'''``````````````````.'''+++############################################################################+++'''.......................................................
````````,;++``;.'+++'.';@g@#'++##+``;';;``````````````````'''+++###########################################################################+++'':.......................................................
```````.;+.``,,'#'++'``.'##''++:````.;;``````````````````''''++#####################################;;#####################################++'''........................................................
```````:,````:'++;','`````#+#+```````;,:`````````````````''''++############################################################################++'''........................................................
``````,``````::++,`:;`````#+;'````````.`:````````````````:'''++############################################################################++'''........................................................
`````````````,#;`.`,:````:;'...```````:``````````````````.'''++############################+`##``##'#:,###.##.;############################++'''........................................................
````````````.+`````,:````'`+``;```````````````````````````'''++#############################:##;'##+#''###;##:+############################++'':........................................................
````````````'``````,,````'`#``,```````````````````````````+''+##################+++##+'#+;##;+##;###;###'###+'###;##;'##;+########+########++''.........................................................
```````````;.``````:.````;.'``````````````````````````````;'''###################{`.##:.#;.##`.##.+###,##..##,;##;.+#``##.+#################+'''........................................................
``````````.`.``````:.````;,.``````````````````````````````,'''##############################################################################'''.........................................................
```````````````````,.`````:```````````````````````````````.'''##############################################################################'''.........................................................
````````````````````.`````;````````````````````````````````'''#####################+#############;+;;;:+'##########################+########'':.........................................................
``````````````````````````:````````````````````````````````+''+++##############################;:'+##+++;;;################################+''..........................................................
``````````````````````````.````````````````````````````````;''+#######+########################'#+######+#;################################+''..........................................................
```````````````````````````````````````````````````````````.'''+#++################################################################+++##+#++'+..........................................................
`````````````````````````.``````````````````````````````````''+#+##########################################################################'''.................````.....................................
````````````````````````````````````````````````````````````'''##+####+##+#+####+###++#a################################+#+##+######+######'':...............`.,,,..`...................................
````````````````````````````````````````````````````````````'''+##+########################+############################+###+######+###++#+'',,,............`,,,,,...`..................................
````````````````````````````````````````````````````````````:''++####+##+#+##############+++++++######+########+##########++#+++######+###+'',,,...........`,,........`.................................
````````````````````````````````````````````````````````````.'''++++#+################################################################+##++'',,,..........`,,,....``.```................................
`````````````````````````````````````````````````````````````'''++++#####################################################################+''',,,...........,,...`.```````...............................
`````````````````````````````````````````````````````````````'''++++++##############################################################++++++'':,,,.........`,,.,.....``.```...............................
`````````````````````````````````````````````````````````````'+''''''+@@@@@@@@@@@@@@@s@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@++++++'+,,,...........,,......``````` ,,............................
````````````````````````````````````````````````````````````..'+##########################################################################+',,..........`,,,...``````.````,,,...........................
````````````````````````````````````````````````````````````...:,,,,,,##############################################################......:,,,..........`,..,.....`;`.````.,,,..........................
````````````````````````````````````````````````````````````..```````.##############################################################.......,,,...........,..........```. ` ,,,..........................
```````````````````````````````````````````````````````````...````````################c#############################################........,,,..........,,....`.``````.`` ,,,,.........................
```````````````````````````````````````````````````````````..`````````:,,......,......,...,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::........,,,........`..,.,.``..```.```` ,,,,,........................
```````````````````````````````````````````````````````````..`````````';;:;:;:;:;;;;;;;;;;;;;;;;;;;;;;;;';';;;;;;;;;;;;''''''';'''''........,,,........ ,.........`.``..`` ,,,,,........................
```````````````````````````````````````````````````````````..````````````...................................................................,,,........ ,,..`.....````.``  ,,,,,,.......................
``````````````````````````````````````````````````````````...```````````...................................................................`,,,........`,.,.......```..`.  .,,,,,.......................
``````````````````````````````````````````````````````````...````````````...................................................................,,,........ ,.........````.`.` .,,,,,,......................
``````````````````````````````````````````````````````````...````````````...................................................................,,,,....... ,,.........````.`` .:,,,,,......................
``````````````````````````````````````````````````````````...`````````....................................................................`.,,,,....... ,,...,..`.,```.``` ,::,,,,,.....................
``````````````````````````````````````````````````````````...`````````.```````````.`............................................``.`......``,,,........ .,...,.`..````.``` :::,,,,,.....................
``````````````````````````````````````````````````````````...``......`.+++:+++#++++.+++:+###+##+.+#+:++++++#+.###;++#+'+##.+++;++++`.......`,,,,....... .,...``.`.``..```` ::::,,,,.....................
``````````````````````````````````````````````````````````...````....`.+;+:+++++#'+.+'#:#;+++#+#.#+#;+'+++#:#.#:#;###+'#'#.#;#;+'++`.......`,,,,.......`.,....``..`.``..`` ::::,,,,,....................
``````````````````````````````````````````````````````````...`````...`.+#+:+++++++'.##+:###++##'.##+;+##++##'.+#+;###+'##+.##+;++++`.......`,:,,.......``,.....````.`.`````:::::,,,,....................
``````````````````````````````````````````````````````````...````....`.........`...................................................`.......`,:,,........`,,....`.,.```````,:::::,,,,,...................
``````````````````````````````````````````````````````````...````....`.###.###,###'+###;###.###.###,###'####'###,###.###,###;######`.......`,:,,........ .,.....````````` ::::::,,,,,...................
``````````````````````````````````````````````````````````...````....`.+;+.#'+;#++++##+'##+,#;#.#:#:###++###+###:#'#.#'#,###'+####+`.......`,:,,........  ,...````````````:::::::,,,,,..................
``````````````````````````````````````````````````````````...`````.`.`.+;+.#+#;###+##i++##+,#'#.#'#:#+#+####+###:###.#+#,###++#####`.......`,:,,........``.,...``````````::::::::,,,,,..................
``````````````````````````````````````````````````````````...```.....`.+;+.#'#;#+#+###++#+#,#;#.#'#:#+#+####+#+#:#;#.#'#,###++###+#`.......`,:,,.........``,...```.``````::::::::,,,,,,.................
``````````````````````````````````````````````````````````...`````...`.+++.#+#;#'#+###++#+#,#;#.#;#:#+#+####+###:#;#.###,###++###+#`.......`,:,,......... ``...```.```` :::::::::,,,,,,.................
``````````````````````````````````````````````````````````...````....`.###.###,###'+###;###.###.###,###;###+;###,###.###.###;+####+`.......`,:,,..........```,.```.````:'';::::::,,,,,,.................
``````````````````````````````````````````````````````````...````....`......`..........................,,..,,..,,,.,,,.,,,.........`.......`,:,,..........``.``..`````;:.';;:::::,,,,,,,................
``````````````````````````````````````````````````````````...````....`.+##++,###'####+###;###.###,###'###++###;###,###,###;+##++##+`.......`,:,,...........``..``  `,;:::';;::::::,,,,,,,...............
`````````````````````````````````````````````````````````....````....`,+###+,###'###+####;###.###.###'####+###;###,###,#+#;+##++###`.......`,:,,,...........`...,,,,::,,::':::::::,,,,,,,...............
``````````````````````````````````````````````````````````...````....`,####+,#'#'#;#+####;#'#.#'#.#'#'#'##+###;#'#,#:#.#'#;+'#++###`.......`,:,,.............`.....:':,,,:';::;::::,,,,,,,..............
``````````````````````````````````````````````````````````...````....`,':##+,##;'###+#i##;###.###.###'####+###;###,###,###;###++#+#`.......`,:,,..............`....:;:.,::;;::::;::,,,,,,,..............
``````````````````````````````````````````````````````````...````....`,+###+,##''###++###;###.###.###'####+###;###.###,###;###++###`.......`,:,,,...............,,,,,:,,,::;::::;;:,,,,,,,,.............
``````````````````````````````````````````````````````````...````....`.,.,,,.,,,..,,..,,..,,,.,,,.,,,.,,,..,,,.,,,.,,,.,,,......+##`.......`,:,,,................,,,,::.,;;';:::::;:,,,,,,,.............
``````````````````````````````````````````````````````````...`````...`.######.###;+##+'###,###.###.###;###+'###,###.###.###;###++##`.......`,:,,,................,,,:;:.;;;;;::::::;;,,,,,,,............
``````````````````````````````````````````````````````````...```.`...`,'##+++,###+####+###:###.###,###'####+###:###.###,###'+###+##`.......`,:,,,.................,,::,::;:;';::::::;:,,,,,,............
`````````````````````````````````````````````````````````....`````...`,++#+##,#+#+####+#+#:#'#.#;#,#'#'####+#+#:###.#;#,###'+###+##`.......`,:,,,..................,::,::::;#;::::::;;:,,,,,............
`````````````````+++++++++++++++++'''''''';.`````````````....```.....`,:#####,#;#+####+#+#:###.#;#,#;#'####+#'#:#'#.#'#,###'+###+##`.......`,:,,,..................,:::,:;;;'';::::::;:,,,,,,...........
````````````````.+++++++++++++++#####++++++,..```````````....````....`,+++#+#,###+####+###:###.###,###'####+###:###.###,###'####+##`........,:,,,..................:;::,::;;;+;:::::;;::,,,,,...........
````````````````.+++++++++####+#+####+####+::,.``````````....``......`.######.###;####'###,###.###.###;###+'###,###.###,###;###+'##`.......`,:,,,..................::::,::;;;+':::::;;::,,,,,...........
````````````````.+++++++#++#+#######+######;:,..`````````....```.....`.............................................................`........,:,,,..................::::::;;;;+';;::;;::::,,,,...........
````````````````.+++++++###################;:,...````````....``......`,#+++.###;#######+'###,###.###;###+####'###,###.###;#########`........,:,,,...................:;:::::;;++;:::;;;:::,,,,,..........
`````````````:;:'##+++++#++################';,...```+.```....``......`,###+.#'+;#######+'###,###.###;###+####'#+#,###.###;#########`........,:,,,...................:;:;::::;+';:::;;;::::,,,,..........
`````````````;++###+++++###+###############';,...```#,.``....```.`...`,####.##+;#######+'###,#'#.#:#;#'#+#+'#'#'#,###.###;#########`........,:,,,...................:::;::::;'';:::;;;::::,,,,..........
````````````````,+++++#####################';,...```#:.``....``......`,;###.#++;#######+'###,###.###;###+####'###,#;#.###;#######'#`........,:,,,...................,::;;:::;;+;:::;;;::::,,,,..........
````````````````,+++++#++#+################';,...``.;:.``....``......`,###+.##+;#######+'###,###.###;###+####'###,###.###;#########`........,:,,,,..................,:;;#:,:;;';:::;;;::::,,,,,.........
`````````````.,,:##+###+###################';,...``.#:.``....``......`.::::.:::.:::.,:::.:::.:::.:::.:::,,:::.:::.:::.:::.::::::::,`........,:,,,,..................::;+#,,::;+;::;;;;:::::,,,,.........
`````````````.:,;##++#+##+##+##a###########';,...``.#;.``....``......`.+++.+++.+++:+++++:++++++++++++++++++++:++++.+++.....+++'....`........,:,,,,..................::;++,,::;;':::;;;:::::,,,,.........
````````````````,#++++#####################';,...``.@;.``....``......`,##+.###:+##+#####'####################'####.##',....###+....`........,:,,,,..................:;'++,,::;;+;:;;;;:::::,,,,.........
````````````````,+++#+#####################';,...``.#+.`.....``......`,###.###:###+#####'####################'####,###,....####....`........,:,,,,..................::'++,,::;;';:;;;::::::,,,,.........
``````````````..,#+++######################';,...``.+@.`.....``......`,##+.###:###+#####'####################'####,###,:::.#@@#,:::`........,:,,,,..................,:;+',,,:;;;':;;;::::::,,,,.........
``````````````..:###+######################';,...``,##,`.....``......`,##+.###:###+###+#'####################'+###,###,###'####+###`........,:,,,,...................:;'',,,::;;';;;;::::::,,,,.........
````````````````,##+#######################';,...``.##,`.....``......`,;##.;'#:###+#'#'#'####################';#';,##+,###'####+###`........,:,,,,...................,;',,,::::;;;;;;::::::,,,,.........
````````````````,+++#############r#########';,...``.##,`.....``.......,###.###,###'#####;####################;####.###.###;###++###`........,:,,,,...................,;',,,:::;;;;;;;::::::,,,,.........
``````````````..,#++#######################';,...``.##,`....,````````.........................................,.............................,::,,,...................,;',,:::;;;;;;;;::::::,,,,.........
``````````````..:##########################';,...``.##,`....,`````````......................................................................,:,,,,...................:;:,,:::;';;;;;;::::::,,,,.........
```````````````.;##########################';,...``.##,.`...,`````````......................................................................,::,,,....................,.,,::;;'';;;;;::::::,,,,.........
````````````````.+#+#######################';,...``.##,`....,`````````......................................................................,::,,,......................,,:;;''';;;;;::::::,,,,.........
````````````````.++########################';,...``.##,.....,````````.......................................................................,::,,,......................,::;;;'';;;;;;:::::,,,,.........
`````````````.;;'#@########################';,...``.##,`....,```````........................................................................,::,,,......................,,:;;;';;;;;;;:::::,,,,.........
`````````````.:;+#@########################';,...``.##,.....,```````........................................................................,::,,,......................,,::;;;;''';;;:::::,,,,.........
````````````````,#+########################';,,..``.#;.`....,``````......................,..,.,.,,,,,,,,,,,,,,,,............................,::,,,......................,:::;;'''';;;;:::::,,,,.........
````````````````.++########################';,,..``.#;......,``````......................,,,,,,,,,,,,,,,,,,,,,,,,...........................,::,,,......................,::;;;;'';;;;;:::::,,,,.........
``````````````''+#@#######################+';,,..``.#;......,`````.......................,,,,,,,,,,,,,,,,,,,,,,,,...........................,::,,,......................,::;;;;'';;;;;:::::,,,,.........
`````````````.';;##########################';,,..``.#;.`....,`````.......................,,,,,,,,,,,,,,,,,,,,,,,,...........................,::,,,......................,:::;;;;';;;;;:::::,,,,.........
````````````````.##########################';,,..``.#;.`....,```.........................,,,,,,,,,,,,,,,,,,,,,,,,,..........................:::,,,.......................::;;;;;';;;;;:::::,,,,.........
````````````````.##########################';,,..``.#;......,``.`........................,,,,,,,,,,,,,,,,,,,,,,,,,..........................,::,,,,......................,:;;;;;;;;;;;;::::,,,,.........
``````````````,:;##########################';,,..``.#;......,`...........................,,,,,,,,,,,,,,,,,,,,,,,,,..........................,::,,,,......................,:;;;;;;;;;;;;::::,,,,.........
`````````````.:,,##########################';:,..``.#;......,............................,,,,,,,,,,,,,,,,,,,,,,,,,,,........................,::,,,,.......................:;;;;;;;;;;;;::::,,,,.........
````````````````,##########################';:,..``.#;......,............................,,,,,,,,,,,,,,,,,,,,,,,,,,,.,......................:::,,,,.......................,:;;:::::;;;;::::,,,,,........
````````````````,#+########################';:,..``.#;......,............................,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.....................,::,,,,........................,::::::::;;';::::,,,,........
````````````````,#+########################';:,..``.#;.....,,............................,,,,,,,,,,,,,,,,,,,,,,,,,,,,,......................,::,,,,........................,::::::::;;;;::::,,,,........
````````````````,##########################';:,..``.#;.....,,............................,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,....................,::,,,,........................,,:::::::;;;;::::,,,,........
``````````````..;##########################';:,..``.#;.....,,............................,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,...................:::,,,,........................,,::::,::;;;;;:::,,,,,.......
````````````````,##########################';:,..``.#;.....,,..........................,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..................,::,,,,........................,,:::::::;;;;;:::,,,,,.......
````````````````,##########################';:,..``.@;.....,,..........................,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.................:::,,,,........................,,,::::::;;;;;::::,,,,.......
`````````````.;'##@#t######################';:,...`.@;.....,,.........................,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,...............:::,,,,........................,,,,,:,::::;;;::::,,,,,......
`````````````.;;+@@########################';:,..``.@;.....,,.......................,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,...............:::,,,,........................,,,,:::,:::;;;;:::,,,,,......
````````````````,##########################';:,..``.@;.....,,......................,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..............:::,,,,.........................,,:,::::::;;;;:::,,,,,......
````````````````,##########################';:,..``.@;.....,,....................,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,............:;:,,,,.........................,,,:::::::;;;;::::,,,,,.....
`````````````,;;+#@########################';:,...`.@;.....,,...................,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,............:;:,,,,.........................,,,::::,::;;;;;:::,,,,,.....
`````````````.:;+##########################';:,..``.@;.....,,..................,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,...........:;::,,,..........................,,::::::::;;;;:::,,,,,.....
````````````````,##########################';:,..``.@;.....,,................,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,........:;::,,,..........................,,::::::::;;;;::::,,,,,....
````````````````,##########################';:,..``.@;.....,,................,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,........:;::,,,..........................,,::::::::;;;;::::,,,,,....
`````````````,++##+########################';:,.....@;.....,,.............,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:,,,,,,,,,,,,,,,,,,,,.......:;::,,,..........................,,,:::::::;;;;;:::,,,,,....
`````````````.'++##########################';:,....`#;.....,,.............,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:,,,,,,,,,,,,,,,,,,,,,,.....:;::,,,..........................,,,::::::;:;;;;::::,,,,,...
````````````````,##########################';:,...`.+:.....,,..........,.,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:,,,,,,,,,,,,,,,,,,,,,.,....:;::,,,..........................,,,,:::::;;;;;;::::,,,,,...
````````````````,##########################+;:,..``.+,.....,,.........,,,,,,,,,,,,,,,,,,,:,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..:;::,,,...........................,,,::::::;;;;;;:::,,,,,,..
````````````````,##########################+;:,..``........,,........,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:;::,,,...........................,,,::::::;;;;;;::::,,,,,..
````````````````,###################}######';:,...``.......,,.....,.,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:;::,,,...........................,,,::::::;;;;;;::::,,,,,..
````````````````.#########################+';:,...``.......,:....,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,;;::,,,...........................,,,::::::;;;;;;;:::,,,,,,.
`````````````````:::;;;;;;;;;;;;;;;;;;;;;;;;:,,..```.......,,:,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,;::,,,,...........................,,,:::::::;;;;;;::::,,,,,.
`````````````````.,,,:::::::::::::::::::::::,,,..```.......,,:,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::,:,:,,:,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::,,,,...........................,,,,::::::;;;;;;::::,,,,,,
`````````````````.,,,,,,,,,,,,,,,,,,,,,,,,,,,,....```......,,,::,,,,,,,,,,,,,,,,,,,,,,,,,,,:::,;;;;;;;;;;;:::::::::::,,,,,,,,,,,,,,,,,,,,,::::,,,,............................,,,,:::::::;;';;;:::,,,,,,
``````````````````.,,,,,,,,,,,,,,,,,,,,,,,,,,,....``........,,,:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::,:,,,,,,,,,,,,.............................,,,:::::;;;;;;;;::::,,,,,
``````````````````..............,,,,,,,,,,,,......``........,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..............................,,,::::::;;;;';;;:::,,,,,
```````````````````...............................``.........,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.,,,..................................,,,::::::;;;;';;;::::,,,,
````````````````````..............................`............................................................................................................................,,:::::::;;;;';';;:::,,,,
````````````````````````.`.......................``.............................................................................................................................,,:::::::;;;;;;;::::,,,,
``````````````````````````````````...`............`.............................................................................................................................,,:::::::::;;;;;;::::,,,
```````````````````````````````````````````.`.``..```...........................................................................................................................,,,:::::;;;;;';';::::,,,
``````````````````````````````````````````````.``.`.............................................................................................................................,,::::::::;;;;;';;:::,,,
```````````````````````````````````````````......`..............................................................................................................................,,,:::::::;;;';';;::::,,
```````````````````````````````````````````....`.`..............................................................................................................................,,::::::::;;;;;';;::::,,
````````````````````````````````````````````....`...............................................................................................................................,,:::::::;;;;;;;;;;::::,
`````````````````````````````````````````.````..``...............................................................................................................................,:::::::;:;;;;;;;;::::,
`````````````````````````````````````````````...`................................................................................................................................,::::::::;:;;;;;;;;::::
`````````````````````````````````````````.`......................................................................................................................................,,:::::::;;;;;;;;;;::::
`````````````````````````````````.``````..```....................................................................................................................................,::::::::;;;;;;;;;;::::
````````````````````````````````````````..`.`....................................................................................................................................,,::::::::;;;;;;;;;::::
````````````````````````````````````````````.`...................................................................................................................................,,:::::::::;;;;;;;;;:::
```````````````````````````````````````.``.`.....................................................................................................................................,,::::::::::;;;;;;;;:::
``````````````````````````````````````.``````.....................................................................................................................................,::::::::::;;;;;;;;:::
``````````````````````````````````````.`.``.......................................................................................................................................,::::::::::;:;;;;;;;::
```````````````````````````````````````..........................................................................................................................................,,:::::::::::::;;;;;;::
````````````````````````````````````````.``.......................................................................................................................................,::::::::::;;;;;;;';;:
```````````````````````````````````````...`.......................................................................................................................................,::::::::::::;;;''''';
``````````````````````````````````````............................................................................................................................................,:::::::::::::;'''''';
````````````````````````````````````.`..`.........................................................................................................................................,::::::::::::;''''''';
```````````````````````````````````..`..`.........................................................................................................................................,:::::::::::;'''''''''
```````````````````````````````````..``.`..........................................................................................................................................,,,,,,,,,,:;;;;;;;;;;
`````````````````````````````````...`````............................................................................................................................`````````````...........,,,,,,,,,,,
`````````````````````````````````.`.``..............................................................................................................................``...`.```.`...,,,:,,,..::;:,,,,:::,
````````````````````````````````...`.`..............................................................................................................................``````````````.........,,,,,,,,,,,,,
</pre>
</body>
</html>